<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='UTF-8'>
    <title>Login</title>
</head>
<body background="static\img\bg2.png">
    <form method="post">
            <br><br><br><br><br><br><br><br>
        <center>
            <p>{{form.username.label}} {{form.username}}</p>
            <p>&nbsp;&nbsp;&nbsp;{{form.password.label}} {{form.password}}</p>
            <p>{{form.radioButton}} </p>
            <input type="submit" value='提交'>
        </center>
        
    </form>
</body>
</html>
