<!doctype html>
<html>

<head>
    <script src="http://echarts.baidu.com/build/dist/echarts-all.js"></script> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>教务管理系统</title>
    <meta name="description" content="">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
     <link rel="icon" type="image/png" href="assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/static/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="/static/assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="/static/assets/css/admin.css">
    <link rel="stylesheet" href="/static/assets/css/app.css">

    <style>
            /* hr {color:sienna;}
            p {margin-left:20px;}
            body {background-image:url("images/back40.gif");} */
            th {color:rgb(36, 34, 33);}
            
    </style>
</head>

<body data-type="generalComponents">


    <header class="am-topbar am-topbar-inverse admin-header">
        <div class="am-topbar-brand">
            <a href="{{url_for('login')}}" class="tpl-logo">
                <img src="/static/assets/img/logo.png" alt="">
            </a>
        </div>
        <!-- <div class="am-icon-list tpl-header-nav-hover-ico am-fl am-margin-right"> -->

        </div>

        

        <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

            <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list tpl-header-list">
                
                
            </ul>
        </div>
    </header>

    <div class="tpl-page-container tpl-page-header-fixed">


        <center>
        <div class="tpl-content-wrapper-center">
            
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <h1 align="center">欢迎&nbsp;&nbsp;<span style="font-size: 35px;color: #0e90d2">{{t_name}}</span>&nbsp;&nbsp;老师登录教务管理系统</h1>
                </div>
                <div class="tpl-block">
                    
                    <div class="am-g1">
                        <div class="am-u-sm-12">


                            <table border="1" width="600" height="150" cellspacing="0" summary="学期选择">

                                <tbody>                          
                                    <tr align="center">                           

                                        <form class="am-form" action="{{ url_for('show_stu',s_number=s_number,t_name=t_name,semester=1)}}" method="post" >
                                            <th align="center"><button type="submit" class="am-btn am-btn-default" value="1">第一学期</button></th>
                                        </form> 
                                        <form class="am-form" action="{{ url_for('show_stu',s_number=s_number,t_name=t_name,semester=2)}}" method="post" >
                                            <th align="center"><button type="submit" class="am-btn am-btn-default" value="2">第二学期</button></th>
                                        </form>
                                        <form class="am-form" action="{{ url_for('show_stu',s_number=s_number,t_name=t_name,semester=3)}}" method="post" >
                                            <th align="center"><button type="submit" class="am-btn am-btn-default" value="3">第三学期</button></th>
                                        </form>
                                        <form class="am-form" action="{{ url_for('show_stu',s_number=s_number,t_name=t_name,semester=4)}}" method="post" >
                                            <th align="center"><button type="submit" class="am-btn am-btn-default" value="4">第四学期</button></th>
                                        </form>
                                        <form class="am-form" action="{{ url_for('show_stu',s_number=s_number,t_name=t_name,semester=5)}}" method="post" >
                                            <th align="center"><button type="submit" class="am-btn am-btn-default" value="5">第五学期</button></th>
                                        </form>
                                        <form class="am-form" action="{{ url_for('show_stu',s_number=s_number,t_name=t_name,semester=6)}}" method="post" >
                                            <th align="center"><button type="submit" class="am-btn am-btn-default" value="6">第六学期</button></th>
                                        </form>
                                    
                                    </tr>
                                </tbody>
                            </table>
                       
                        
                            <table border="1" width="600" height="150" cellspacing="0" summary="课程显示">
                    
                            <caption><h2><span style="color: #0e90d2">{{s_name}}</span>同学第<span style="color: #0e90d2">{{student_scores[1].s_semester}}</span>学期成绩汇总表</h2></caption>
                        
                            <br>
                            
                            <!-- tbody 标记用于定义表格主体,改善网页浏览速度 -->
                            
                            <tbody>                          
                            <tr align="center">                           
                            <th align="center"><p align=center font-size:10px>课程名称</p></th>                            
                            <th align="center"><p align=center font-size:10px>分数</p></th>                            
                            <th align="center"><p align=center font-size:10px>班级平均分</p></th>                   
                            <th align="center"><p align=center font-size:10px>班级最高分</p></th>
                            
                            </tr>     
                        
                        {%for i in range(0,9) %}
                            <tr align="center">    
                            <td align="center">{{["语文",'数学','英语','物理','化学','生物','政治','历史','地理'].pop(i)}}</td>
                            <td align="center">{{student_scores[i].score}}</td>
                            <td align="center"> {{scores_average[i]}} </td>
                            <td align="center"> {{max_scores[i]}} </td>
                            </tr>
                        {%endfor%}
                            
                        </table>


<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="box" style="height:400px;width: 800px;padding: 20px"></div>
      
    <script>
    // 获取到这个DOM节点，然后初始化

    var myChart = echarts.init(document.getElementById("box"));
    var option = {
        // 标题
        title: {
            text: '成绩折线图',
            subtext: '革命尚未成功，同志任需努力！'
        },
        tooltip: {
            trigger: 'axis'
        },
        //图例名
        legend: {
            data:['学生成绩','平均成绩']
        },
        grid: {
            left: '3%',   //图表距边框的距离
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        //工具框，可以选择
        toolbox: {
            feature: {
                saveAsImage: {}
            }
        },
        //x轴信息样式
        xAxis: {
            type: 'category',
            
            boundaryGap: false,
            data: ['第一学期','第二学期','第三学期','第四学期','第五学期','第六学期'],
            //坐标轴颜色
            axisLine:{
                lineStyle:{
                    color:'red'
                }
            },
            //x轴文字旋转
            axisLabel:{
                rotate:30,
                interval:0
            },
        },

        yAxis : [
            {
                type : 'value',
                scale: true,
                axisLabel : {
                    formatter: '{value} 分'
                }
            }
        ],
        series: [
            //虚线
            {
                name:'学生成绩',
                type:'line',
                symbolSize:4,   //拐点圆的大小
                color:'blue',  //折线条的颜色
                data:{{s_scores}},
                smooth:false,   //关键点，为true是不支持虚线的，实线就用true
                itemStyle:{
                    normal:{
                        lineStyle:{
                            width:2,
                            type:'dotted'  //'dotted'虚线 'solid'实线
                        }
                    }
                }
            },
            //实线
            {
                name:'平均成绩',
                type:'line',
                symbol:'circle',
                symbolSize:4,
                itemStyle:{
                    normal:{
                        color:'red',
                        borderColor:'red'  //拐点边框颜色
                    }
                },
                data:{{average_scores}}
            },
            
        ]
    };

    myChart.setOption(option);
    </script>
    </center>
            </div>

    </div>
</div>
<div class="tpl-alert"></div>
</div>
        </div>

    </div>


  <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/js/amazeui.min.js"></script>
    <script src="/static/assets/js/app.js"></script>
</body>

</html>